body{
	width: 100%;
	margin: 0%;
	padding: 0%;
	background-color: #EAEAEA;
	position: relative;
}
#backg{
	position: absolute;
	z-index: 0;
	display: inline-block;
	font-family: arial;
	font-size: 282px;
	font-weight: bolder;
	position: absolute;
	margin-left: 350px;
	top: 100px;
	color: #fff;
}
h1{

	font-size: 32px;
	margin-left:20px;
}
p{
	position: absolute;
	z-index: 1;
	text-align: justify;
	padding: 20px;
	font-size: 14.5px;
	font-family: arial;
	line-height: 25px;
}
